.elementor-131 .elementor-element.elementor-element-9f8b6da > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-131 .elementor-element.elementor-element-eb14042 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-dd209aa .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-d652490 .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-131 .elementor-element.elementor-element-3cdb28b5 {margin-top: 30px;margin-bottom: 30px;}
.elementor-131 .elementor-element.elementor-element-7e4c3f1a > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-131 .elementor-element.elementor-element-1d4cb4ff {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-703af064 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-3fc86f2c .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-131 .elementor-element.elementor-element-1e4d6cb {text-align: center;}
.elementor-131 .elementor-element.elementor-element-1e4d6cb .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-4548cb2 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-4548cb2 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-1cecc2c {text-align: center;}
.elementor-131 .elementor-element.elementor-element-1cecc2c .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-979a566 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-979a566 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-91c99bd {margin-top: 70px;margin-bottom: 70px;}
.elementor-131 .elementor-element.elementor-element-993cc7c {text-align: center;}
.elementor-131 .elementor-element.elementor-element-993cc7c .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-6e546aa {text-align: center;}
.elementor-131 .elementor-element.elementor-element-6e546aa .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-a60b4a6 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-a60b4a6 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-18af867 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-18af867 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-c01225f > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-131 .elementor-element.elementor-element-48b3078 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-86f1510 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-4cb916e .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-131 .elementor-element.elementor-element-2505239c {margin-top: 30px;margin-bottom: 30px;}
.elementor-131 .elementor-element.elementor-element-19059a35 > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-131 .elementor-element.elementor-element-72bf49d8 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-28bdf823 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-4de96cf0 .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-131 .elementor-element.elementor-element-e1f3422:not(.elementor-motion-effects-element-type-background), .elementor-131 .elementor-element.elementor-element-e1f3422 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #105489;}
.elementor-131 .elementor-element.elementor-element-e1f3422 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 120px 0px 120px 0px;}
.elementor-131 .elementor-element.elementor-element-e1f3422 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-131 .elementor-element.elementor-element-a895da3 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-a895da3 .elementor-heading-title {color: #fff;}
.elementor-131 .elementor-element.elementor-element-6a1db443 .elementor-text-editor {text-align: center;}
.elementor-131 .elementor-element.elementor-element-6a1db443 {color: #fff;font-family: "Roboto",Sans-serif;font-size: 25px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-6f37cb07 .elementor-button {fill: #000;color: #000;background-color: #fff;border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-768ad6a2:not(.elementor-motion-effects-element-type-background), .elementor-131 .elementor-element.elementor-element-768ad6a2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f5f5f5;}
.elementor-131 .elementor-element.elementor-element-768ad6a2 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 50px 0px 50px 0px;}
.elementor-131 .elementor-element.elementor-element-768ad6a2 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-131 .elementor-element.elementor-element-7b006806 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-468ba157 > .elementor-container {max-width: 1200px;}
.elementor-131 .elementor-element.elementor-element-27d90058 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-131 .elementor-element.elementor-element-7a3553af {text-align: left;}
.elementor-131 .elementor-element.elementor-element-59d5ef68 .elementor-text-editor {text-align: left;}
.elementor-131 .elementor-element.elementor-element-59d5ef68 {color: #000;font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 500;width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-59d5ef68 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-43397d0f {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;width: 250px;max-width: 250px;align-self: center;}
.elementor-131 .elementor-element.elementor-element-43397d0f .elementor-divider-separator {width: 100%;}
.elementor-131 .elementor-element.elementor-element-43397d0f .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-131 .elementor-element.elementor-element-448a947e .elementor-text-editor {text-align: left;}
.elementor-131 .elementor-element.elementor-element-448a947e {font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 600;width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-448a947e > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-1693475a > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-131 .elementor-element.elementor-element-53226b3c {text-align: left;}
.elementor-131 .elementor-element.elementor-element-10a07c3a > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-10a07c3a {width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-22b75875 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-131 .elementor-element.elementor-element-22fdf4e5 {text-align: left;}
.elementor-131 .elementor-element.elementor-element-3c3723b0 {width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-3f9eee50 > .elementor-element-populated {padding: 0px 40px 0px 40px;}
.elementor-131 .elementor-element.elementor-element-51f95e71 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-e69acf .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-3a81423c .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-7079aca9 .elementor-image img {width: 100px;max-width: 100px;}
.elementor-131 .elementor-element.elementor-element-7079aca9 > .elementor-widget-container {padding: 50px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-47ff4562 .elementor-accordion .elementor-accordion-item {border-color: #000;}
.elementor-131 .elementor-element.elementor-element-47ff4562 .elementor-accordion .elementor-accordion-item .elementor-tab-content {border-top-color: #000;}
.elementor-131 .elementor-element.elementor-element-47ff4562 .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {border-bottom-color: #000;}
.elementor-131 .elementor-element.elementor-element-47ff4562 .elementor-accordion .elementor-tab-title {background-color: #f5f5f5;}
.elementor-131 .elementor-element.elementor-element-47ff4562 .elementor-accordion .elementor-accordion-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-131 .elementor-element.elementor-element-5b6ccadf .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-9c01c25 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-70986da3 .elementor-button {border-radius: 0px 0px 0px 0px;}
body:not(.rtl) .elementor-131 .elementor-element.elementor-element-996675c {left: 0px;}
body.rtl .elementor-131 .elementor-element.elementor-element-996675c {right: 0px;}
.elementor-131 .elementor-element.elementor-element-996675c {top: 0px;}
@media (min-width:768px) {.elementor-131 .elementor-element.elementor-element-7e4c3f1a {width: 31.964%;}
	.elementor-131 .elementor-element.elementor-element-4f416187 {width: 68.036%;}
	.elementor-131 .elementor-element.elementor-element-19059a35 {width: 31.964%;}
	.elementor-131 .elementor-element.elementor-element-216c6628 {width: 68.036%;}
	.elementor-131 .elementor-element.elementor-element-27d90058 {width: 37.982%;}
	.elementor-131 .elementor-element.elementor-element-1693475a {width: 15%;}
	.elementor-131 .elementor-element.elementor-element-22b75875 {width: 14.474%;}
	.elementor-131 .elementor-element.elementor-element-3f9eee50 {width: 32.522%;}}
@media (max-width:1024px) {.elementor-131 .elementor-element.elementor-element-a298bd4 {margin-top: 30px;margin-bottom: 30px;}
	.elementor-131 .elementor-element.elementor-element-9f8b6da > .elementor-element-populated {margin: 70px 70px 70px 70px;}
	.elementor-131 .elementor-element.elementor-element-64f3117 {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-eb14042 .elementor-text-editor {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-ba452e4 {margin-top: 30px;margin-bottom: 30px;}
	.elementor-131 .elementor-element.elementor-element-9d7c577 {margin-top: 30px;margin-bottom: 30px;}
	.elementor-131 .elementor-element.elementor-element-c01225f > .elementor-element-populated {margin: 70px 70px 70px 70px;}
	.elementor-131 .elementor-element.elementor-element-4d9f653 {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-48b3078 .elementor-text-editor {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-3baa58db > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-131 .elementor-element.elementor-element-2f40a0df > .elementor-widget-container {padding: 20px 20px 20px 20px;}}
@media (max-width:767px) {.elementor-131 .elementor-element.elementor-element-9f8b6da > .elementor-element-populated {margin: 70px 70px 70px 70px;}
	.elementor-131 .elementor-element.elementor-element-64f3117 {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-eb14042 .elementor-text-editor {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-d652490 .elementor-image img {width: 100%;max-width: 100%;height: 300px;}
	.elementor-131 .elementor-element.elementor-element-3cdb28b5 {margin-top: 30px;margin-bottom: 30px;}
	.elementor-131 .elementor-element.elementor-element-7e4c3f1a > .elementor-element-populated {margin: 70px 70px 70px 70px;}
	.elementor-131 .elementor-element.elementor-element-1fb431c {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-1d4cb4ff .elementor-text-editor {text-align: center;}
	.elementor-131 .elementor-element.elementor-element-3fc86f2c .elementor-image img {width: 100%;max-width: 100%;height: 300px;}
	.elementor-131 .elementor-element.elementor-element-91c99bd {margin-top: 30px;margin-bottom: 30px;}
	.elementor-131 .elementor-element.elementor-element-9d7c577 {margin-top: 31px;margin-bottom: 31px;}
	.elementor-131 .elementor-element.elementor-element-c01225f > .elementor-element-populated {margin: 0px 70px 70px 70px;}
	.elementor-131 .elementor-element.elementor-element-4cb916e .elementor-image img {width: 100%;max-width: 100%;height: 300px;}
	.elementor-131 .elementor-element.elementor-element-2505239c {margin-top: 30px;margin-bottom: 30px;}
	.elementor-131 .elementor-element.elementor-element-19059a35 > .elementor-element-populated {margin: 0px 70px 70px 70px;}
	.elementor-131 .elementor-element.elementor-element-4de96cf0 .elementor-image img {width: 100%;max-width: 100%;height: 300px;}
	.elementor-131 .elementor-element.elementor-element-3baa58db > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-131 .elementor-element.elementor-element-2f40a0df > .elementor-widget-container {padding: 20px 20px 20px 20px;}
	.elementor-131 .elementor-element.elementor-element-996675c .elementor-text-editor {column-gap: 0px;}
	.elementor-131 .elementor-element.elementor-element-996675c {width: 100%;max-width: 100%;}}