.elementor-131 .elementor-element.elementor-element-7e4c3f1a > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-131 .elementor-element.elementor-element-1d4cb4ff {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-703af064 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-3fc86f2c .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-131 .elementor-element.elementor-element-91c99bd {margin-top: 100px;margin-bottom: 100px;}
.elementor-131 .elementor-element.elementor-element-993cc7c {text-align: center;}
.elementor-131 .elementor-element.elementor-element-993cc7c .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-6e546aa {text-align: center;}
.elementor-131 .elementor-element.elementor-element-6e546aa .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-a60b4a6 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-a60b4a6 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-18af867 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-18af867 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-131 .elementor-element.elementor-element-2505239c {margin-top: 100px;margin-bottom: 100px;}
.elementor-131 .elementor-element.elementor-element-19059a35 > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-131 .elementor-element.elementor-element-72bf49d8 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-28bdf823 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-4de96cf0 .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-131 .elementor-element.elementor-element-e1f3422:not(.elementor-motion-effects-element-type-background), .elementor-131 .elementor-element.elementor-element-e1f3422 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #105489;}
.elementor-131 .elementor-element.elementor-element-e1f3422 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 120px 0px 120px 0px;}
.elementor-131 .elementor-element.elementor-element-e1f3422 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-131 .elementor-element.elementor-element-a895da3 {text-align: center;}
.elementor-131 .elementor-element.elementor-element-a895da3 .elementor-heading-title {color: #fff;}
.elementor-131 .elementor-element.elementor-element-6a1db443 .elementor-text-editor {text-align: center;}
.elementor-131 .elementor-element.elementor-element-6a1db443 {color: #fff;font-family: "Roboto",Sans-serif;font-size: 25px;font-weight: 400;}
.elementor-131 .elementor-element.elementor-element-6f37cb07 .elementor-button {fill: #000;color: #000;background-color: #fff;border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-124cf93b:not(.elementor-motion-effects-element-type-background), .elementor-131 .elementor-element.elementor-element-124cf93b > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f5f5f5;}
.elementor-131 .elementor-element.elementor-element-124cf93b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 50px 0px 50px 0px;}
.elementor-131 .elementor-element.elementor-element-124cf93b > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-131 .elementor-element.elementor-element-5a8b1fe5 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-22cde69a > .elementor-container {max-width: 1200px;}
.elementor-131 .elementor-element.elementor-element-16a5a14 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-131 .elementor-element.elementor-element-5efafc06 {text-align: left;}
.elementor-131 .elementor-element.elementor-element-178aec34 .elementor-text-editor {text-align: left;}
.elementor-131 .elementor-element.elementor-element-178aec34 {color: #000;font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 500;width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-178aec34 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-30277a6f {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;width: 250px;max-width: 250px;align-self: center;}
.elementor-131 .elementor-element.elementor-element-30277a6f .elementor-divider-separator {width: 100%;}
.elementor-131 .elementor-element.elementor-element-30277a6f .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-131 .elementor-element.elementor-element-35931a5e .elementor-text-editor {text-align: left;}
.elementor-131 .elementor-element.elementor-element-35931a5e {font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 600;width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-35931a5e > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-10ef7686 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-131 .elementor-element.elementor-element-3363635a {text-align: left;}
.elementor-131 .elementor-element.elementor-element-782c081c > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-782c081c {width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-285a3c5 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-131 .elementor-element.elementor-element-1f159d84 {text-align: left;}
.elementor-131 .elementor-element.elementor-element-495e5198 {width: auto;max-width: auto;}
.elementor-131 .elementor-element.elementor-element-72b0a2de > .elementor-element-populated {padding: 0px 40px 0px 40px;}
.elementor-131 .elementor-element.elementor-element-311bc10 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-4b3b9efa .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-9cfc8e8 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-131 .elementor-element.elementor-element-1d9894a8 .elementor-image img {width: 100px;max-width: 100px;}
.elementor-131 .elementor-element.elementor-element-1d9894a8 > .elementor-widget-container {padding: 20px 0px 0px 0px;}
@media (min-width:768px) {.elementor-131 .elementor-element.elementor-element-7e4c3f1a {width: 31.964%;}
	.elementor-131 .elementor-element.elementor-element-4f416187 {width: 68.036%;}
	.elementor-131 .elementor-element.elementor-element-19059a35 {width: 31.964%;}
	.elementor-131 .elementor-element.elementor-element-216c6628 {width: 68.036%;}
	.elementor-131 .elementor-element.elementor-element-16a5a14 {width: 30%;}
	.elementor-131 .elementor-element.elementor-element-10ef7686 {width: 20%;}
	.elementor-131 .elementor-element.elementor-element-285a3c5 {width: 15%;}
	.elementor-131 .elementor-element.elementor-element-72b0a2de {width: 34.978%;}}