.elementor-133 .elementor-element.elementor-element-76b1e45b .elementor-image img {height: 300px;object-fit: cover;}
.elementor-133 .elementor-element.elementor-element-3294101d .elementor-image img {height: 300px;object-fit: cover;}
.elementor-133 .elementor-element.elementor-element-5067e8d .elementor-image img {height: 300px;object-fit: cover;}
.elementor-133 .elementor-element.elementor-element-ffb642f .elementor-image img {height: 300px;object-fit: cover;}