.elementor-111 .elementor-element.elementor-element-fef6fb9 > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-111 .elementor-element.elementor-element-d2e8d84 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-138f6b9 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-de09a20 .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-111 .elementor-element.elementor-element-63b98f9f {margin-top: 50px;margin-bottom: 50px;}
.elementor-111 .elementor-element.elementor-element-6a9f8d27 > .elementor-element-populated {margin: 100px 100px 100px 100px;}
.elementor-111 .elementor-element.elementor-element-7f2011a3 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-381cadf7 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-6ab3bc46 .elementor-image img {width: 900px;max-width: 900px;height: 600px;}
.elementor-111 .elementor-element.elementor-element-3474ab1 .elementor-image img {width: 250px;height: 300px;transition-duration: .3s;}
.elementor-111 .elementor-element.elementor-element-e8b9252 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-272ad90 {text-align: center;}
.elementor-111 .elementor-element.elementor-element-272ad90 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-111 .elementor-element.elementor-element-344366a {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-cacf4d1 {text-align: center;}
.elementor-111 .elementor-element.elementor-element-cacf4d1 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-111 .elementor-element.elementor-element-d4cc90b {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-3b91aaf {text-align: center;}
.elementor-111 .elementor-element.elementor-element-3b91aaf .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-111 .elementor-element.elementor-element-ba9e0eb {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-454ef07 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-432f370 {margin-top: 70px;margin-bottom: 70px;}
.elementor-111 .elementor-element.elementor-element-bee0abd {text-align: center;}
.elementor-111 .elementor-element.elementor-element-bee0abd .elementor-image img {width: 250px;height: 300px;}
.elementor-111 .elementor-element.elementor-element-df30666 > .elementor-element-populated {margin: 0px 0px 0px 65px;}
.elementor-111 .elementor-element.elementor-element-85da9f6 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-7ef039b {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-6420dbb {text-align: center;}
.elementor-111 .elementor-element.elementor-element-6420dbb .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-111 .elementor-element.elementor-element-f29b48a > .elementor-element-populated {margin: 0px 0px 0px 65px;}
.elementor-111 .elementor-element.elementor-element-bcf908c {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-315b174 {text-align: center;}
.elementor-111 .elementor-element.elementor-element-315b174 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-111 .elementor-element.elementor-element-4b3c0fa > .elementor-element-populated {margin: 0px 0px 0px 65px;}
.elementor-111 .elementor-element.elementor-element-40816d4 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-931ff72 {text-align: center;}
.elementor-111 .elementor-element.elementor-element-931ff72 .elementor-image img {width: 250px;height: 300px;object-fit: cover;}
.elementor-111 .elementor-element.elementor-element-2203f66 > .elementor-element-populated {margin: 0px 0px 0px 65px;}
.elementor-111 .elementor-element.elementor-element-6917b12 {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-9a3560b {font-family: "Roboto",Sans-serif;font-size: 16px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-195b5e3b:not(.elementor-motion-effects-element-type-background), .elementor-111 .elementor-element.elementor-element-195b5e3b > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #105489;}
.elementor-111 .elementor-element.elementor-element-195b5e3b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 120px 0px 120px 0px;}
.elementor-111 .elementor-element.elementor-element-195b5e3b > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-111 .elementor-element.elementor-element-2da98377 {text-align: center;}
.elementor-111 .elementor-element.elementor-element-2da98377 .elementor-heading-title {color: #fff;}
.elementor-111 .elementor-element.elementor-element-c72222f .elementor-text-editor {text-align: center;}
.elementor-111 .elementor-element.elementor-element-c72222f {color: #fff;font-family: "Roboto",Sans-serif;font-size: 25px;font-weight: 400;}
.elementor-111 .elementor-element.elementor-element-198c9894 .elementor-button {fill: #000;color: #000;background-color: #fff;border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-1113c8ad:not(.elementor-motion-effects-element-type-background), .elementor-111 .elementor-element.elementor-element-1113c8ad > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f5f5f5;}
.elementor-111 .elementor-element.elementor-element-1113c8ad {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 50px 0px 50px 0px;}
.elementor-111 .elementor-element.elementor-element-1113c8ad > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-111 .elementor-element.elementor-element-5921c63f > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-433c0892 > .elementor-container {max-width: 1200px;}
.elementor-111 .elementor-element.elementor-element-1d0a8fad > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-111 .elementor-element.elementor-element-403c9dcf {text-align: left;}
.elementor-111 .elementor-element.elementor-element-23df781b .elementor-text-editor {text-align: left;}
.elementor-111 .elementor-element.elementor-element-23df781b {color: #000;font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 500;width: auto;max-width: auto;}
.elementor-111 .elementor-element.elementor-element-23df781b > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-550fea02 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;width: 250px;max-width: 250px;align-self: center;}
.elementor-111 .elementor-element.elementor-element-550fea02 .elementor-divider-separator {width: 100%;}
.elementor-111 .elementor-element.elementor-element-550fea02 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-111 .elementor-element.elementor-element-5991c9b2 .elementor-text-editor {text-align: left;}
.elementor-111 .elementor-element.elementor-element-5991c9b2 {font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 600;width: auto;max-width: auto;}
.elementor-111 .elementor-element.elementor-element-5991c9b2 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-233698e8 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-111 .elementor-element.elementor-element-7aa82588 {text-align: left;}
.elementor-111 .elementor-element.elementor-element-23e58fea > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-23e58fea {width: auto;max-width: auto;}
.elementor-111 .elementor-element.elementor-element-36684596 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
.elementor-111 .elementor-element.elementor-element-2af6803f {text-align: left;}
.elementor-111 .elementor-element.elementor-element-726d30b2 {width: auto;max-width: auto;}
.elementor-111 .elementor-element.elementor-element-24182336 > .elementor-element-populated {padding: 0px 40px 0px 40px;}
.elementor-111 .elementor-element.elementor-element-281c8f1b .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-59407902 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-5b44510c .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-5c9e7067 .elementor-image img {width: 100px;max-width: 100px;}
.elementor-111 .elementor-element.elementor-element-5c9e7067 > .elementor-widget-container {padding: 50px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-12015a7b .elementor-accordion .elementor-accordion-item {border-color: #000;}
.elementor-111 .elementor-element.elementor-element-12015a7b .elementor-accordion .elementor-accordion-item .elementor-tab-content {border-top-color: #000;}
.elementor-111 .elementor-element.elementor-element-12015a7b .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {border-bottom-color: #000;}
.elementor-111 .elementor-element.elementor-element-12015a7b .elementor-accordion .elementor-tab-title {background-color: #f5f5f5;}
.elementor-111 .elementor-element.elementor-element-12015a7b .elementor-accordion .elementor-accordion-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-111 .elementor-element.elementor-element-4e0cae75 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-69682440 .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-16807dbf .elementor-button {border-radius: 0px 0px 0px 0px;}
.elementor-111 .elementor-element.elementor-element-184e28eb > .elementor-widget-container {background-color: #f5f5f5;}
body:not(.rtl) .elementor-111 .elementor-element.elementor-element-25570b30 {left: 0px;}
body.rtl .elementor-111 .elementor-element.elementor-element-25570b30 {right: 0px;}
.elementor-111 .elementor-element.elementor-element-25570b30 {top: 0px;}
@media (min-width:768px) {.elementor-111 .elementor-element.elementor-element-6a9f8d27 {width: 31.964%;}
	.elementor-111 .elementor-element.elementor-element-1e1f246 {width: 68.036%;}
	.elementor-111 .elementor-element.elementor-element-1d0a8fad {width: 37.982%;}
	.elementor-111 .elementor-element.elementor-element-233698e8 {width: 15%;}
	.elementor-111 .elementor-element.elementor-element-36684596 {width: 14.474%;}
	.elementor-111 .elementor-element.elementor-element-24182336 {width: 32.522%;}}
@media (max-width:1024px) {.elementor-111 .elementor-element.elementor-element-fef6fb9 > .elementor-element-populated {margin: 70px 70px 70px 70px;}
	.elementor-111 .elementor-element.elementor-element-08ee031 {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-d2e8d84 .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-dcea11e {margin-top: 30px;margin-bottom: 30px;}
	.elementor-111 .elementor-element.elementor-element-9f342f8 {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-e8b9252 .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-5c0b831 {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-344366a .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-85a0069 {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-d4cc90b .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-b15407d {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-ba9e0eb .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-454ef07 .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-5eff37cc > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-111 .elementor-element.elementor-element-184e28eb > .elementor-widget-container {padding: 20px 20px 20px 20px;}}
@media (max-width:767px) {.elementor-111 .elementor-element.elementor-element-fef6fb9 > .elementor-element-populated {margin: 70px 70px 70px 70px;}
	.elementor-111 .elementor-element.elementor-element-08ee031 {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-d2e8d84 .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-de09a20 .elementor-image img {width: 100%;max-width: 100%;height: 300px;}
	.elementor-111 .elementor-element.elementor-element-63b98f9f {margin-top: 30px;margin-bottom: 30px;}
	.elementor-111 .elementor-element.elementor-element-6a9f8d27 > .elementor-element-populated {margin: 70px 70px 70px 70px;}
	.elementor-111 .elementor-element.elementor-element-44c8b58f {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-7f2011a3 .elementor-text-editor {text-align: center;}
	.elementor-111 .elementor-element.elementor-element-6ab3bc46 .elementor-image img {width: 100%;max-width: 100%;height: 300px;}
	.elementor-111 .elementor-element.elementor-element-9f342f8 {text-align: left;}
	.elementor-111 .elementor-element.elementor-element-432f370 {margin-top: 30px;margin-bottom: 30px;}
	.elementor-111 .elementor-element.elementor-element-892e89f {text-align: left;}
	.elementor-111 .elementor-element.elementor-element-5eff37cc > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
	.elementor-111 .elementor-element.elementor-element-184e28eb > .elementor-widget-container {padding: 20px 20px 20px 20px;}
	.elementor-111 .elementor-element.elementor-element-25570b30 .elementor-text-editor {column-gap: 0px;}
	.elementor-111 .elementor-element.elementor-element-25570b30 {width: 100%;max-width: 100%;}}